@charset "utf-8";

/**
 * ***************************************
 * ページ全体に関わるCSSの設定
 * ***************************************
 */
html *,
::before,
::after {
   box-sizing: border-box;
}
html {
   font-size: 14px;
}
@media (min-width: 768px) {
   html {
      font-size: 16px;
   }
}
body {
   font-family: 'Noto Sans JP', sans-serif;
   font-weight: 400;
}
h1, h2, h3, h4, h5, h6, th, strong {
   font-weight: 700;
}
h2 {
   margin: 50px 0 20px 0;
   border-bottom: 2px solid #6d3c29;
   padding: 0 0 5px 0;
   color: #6d3c29;
   font-size: 1.3rem;
}
a {
   color: #f07d34;
}
img {
   max-width: 100%;
   height: auto;
   vertical-align: bottom;
}
/* ページトップへ戻るボタン */
.gotop {
   margin-bottom: 10px;
   text-align: center;
}
#gotop {
   width: 70px;
   height: 70px;
}

/* index.html のページトップへ戻るボタン */
.home .gotop {
   margin-bottom: 5px; /* マージンのたたみ込みのため index.html のみ特別に設定 */
}

/**
 * ***************************************
 * ヘッダー
 * ***************************************
 *
 * ヘッダーコンテナ
 */
.page-header {
   position: relative;
   background: url(../images/header-topline.svg) repeat-x;
   background-size: 18px 10px;
   border-bottom: 1px solid #d8d8d8;
}
.header-container {
   padding: 14px 0 14px 5px;
}
@media (min-width: 768px) {
   .page-header {
      border-bottom: 0;
   }
   .header-container {
      padding: 35px 0 35px 30px;
   }
}

/**
 * ---------------------------------------
 * ヘッダーモジュール
 */
/* ヘッダーロゴ */
.header-logo {
   margin: 0;
   padding-left: 15px;
   font-size: 0;
   line-height: 0;
}
.header-logo img {
   width: 200px;
}
@media (min-width: 768px) {
   .header-logo {
      padding: 0;
      text-align: center;
   }
   .header-logo img {
      width: 300px;
   }
   .header-logo a:hover {
      opacity: .8;
   }
}
/* モバイルボタン */
@media (max-width: 767px) {
   #slidemenu-btn span:nth-of-type(1) {
      top: 18px;
   }
   #slidemenu-btn span:nth-of-type(2) {
      top: 29px;
   }
   #slidemenu-btn span:nth-of-type(3) {
      top: 40px;
   }
   #slidemenu-btn.active span:nth-of-type(1) {
      transform: translateY(10.85px) rotate(-45deg);
   }
   #slidemenu-btn.active span:nth-of-type(2) {
      opacity: 0;
   }
   #slidemenu-btn.active span:nth-of-type(3) {
      transform: translateY(-10.85px) rotate(45deg);
   }
   #slidemenu-btn span {
      display: inline-block;
      box-sizing: border-box;
      position: absolute;
      left: 16px;
      width: 30px;
      height: 4px;
      background-color: #fff;
      border-radius: 2px;
   }
   #slidemenu-btn {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      z-index: 30;
      width: 62px;
      height: 62px;
      background-color: #6d3c29;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
   }
}
/* ナビゲーション */
.page-nav {
   font-size: 0.8rem;
   background: #6d3c29;
   font-family: 'Yomogi', cursive;
   font-weight: bold;
}
@media (min-width: 768px) {
   .page-nav {
      font-size: 0.875rem;
   }
}
.nav-container {
   position: absolute;
   top: 62px;
   right: 0;
   z-index: 20;
   margin: 0;
   padding: 0;
   width: 200px;
   background: #efefef;
   box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
}
.globalnav {
   list-style: none;
   margin: 0;
   padding: 0;
}
.globalnav li a {
   display: block;
   padding: 17px 20px;
   border-bottom: 1px solid #d8d8d8;
   text-decoration: none;
   line-height: 100%;
   color: #6d3c29;
}
.globalnav li a:hover,
.globalnav li a.current {
   background: #b8e5ea;
}
@media (min-width: 768px) {
   .nav-container {
      position: relative;
      top: 0;
      left: 0;
      padding: 0;
      width: 100%;
      background: none;
      box-shadow: none;
   }
   .globalnav {
      display: flex;
   }
   .globalnav li {
      flex: 0 0 calc(1 / 8 * 100%);	
   }
   .globalnav li a {
      border-top: none;
      padding: 1rem 0;
      border-bottom: 5px solid #6d3c29;
      color: #fff;
      text-align: center;
   }
   .globalnav li a:hover,
   .globalnav li a.current {
      background: #6d3c29;
      color: #f9dfd4;
      border-bottom: 5px solid #f9dfd4;
   }
}

/* ========== Javascript用CSS ========== */
/* ナビゲーションを最初は非表示。 */
#js-slidemenu {
   display: none;
}
/* パソコン向けではナビゲーションを常に表示 */
@media (min-width: 768px) {
   #js-slidemenu {
      display: block !important; 
   }
}
/* ナビゲーションが開いたときに画面を暗くする処理のためのCSS */
@media (max-width: 767px) {
   .js-slidemenu-effect {
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.4;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
   }
}

/**
 * ***************************************
 * フッター
 * ***************************************
 *
 * フッターコンテナ
 */
.page-footer {
   background: #f9dfd4;
}
.footer-container {
   padding: 60px 4%;
}
@media (min-width: 768px) {
   .footer-container {
      max-width: 1040px;
      margin: 0 auto;
      padding: 60px 20px;
   }
}

/**
 * ---------------------------------------
 * フッターモジュール
 */
/* ロゴ */
.footer-logo {
   margin-bottom: 30px;
   text-align: center;
}
.footer-logo img {
   width: 150px;
}
@media (min-width: 768px) {
   .footer-logo img {
      width: 200px;
   }
   .footer-logo a:hover {
      opacity: .8;
   }
}
/* フッターのナビゲーション */
.footer-nav {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 0 20px 0;
   padding: 0;
   list-style: none; 
}
.footer-nav li {
   margin: 0 0 2rem 0;
   font-size: .875rem;
}
.footer-nav li a {
   color: #6d3c29;
   text-decoration: none;
}
@media (min-width: 768px) {
   .footer-nav {
      flex-direction: row;
      justify-content: center;
      margin: 0 0 30px 0;
   }
   .footer-nav li {
      margin: 0 0.7rem;
   }
   .footer-nav li a:hover {
      opacity: .8;
   }
}
/* コピーライト */
.copyright {
   font-size: .75rem;
   color: #6d3c29;
   text-align: center;
}

/**
 * ***************************************
 * メイン
 * ***************************************
 */
/**
 * ***************************************
 * ［index.html］ホームページ
 * ***************************************
 */
/* ホーム - メインコンテナ */
.home .main-container {
   padding: 30px 4% 60px 4%;
}
@media (min-width: 768px) {
   .home .main-container {
      max-width: 960px;
      margin: 0 auto;
      padding: 80px 20px 60px 20px;
   }
}
/* ホーム - ニュースコンテナ */
.news {
   background: #efefef;
   padding-bottom: 5px; /* マージンのたたみ込みを防ぐため親要素にパディングを設定 */
}
.news-container {
   padding: 60px 4%;
}
@media (min-width: 768px) {
   .news-container {
      max-width: 740px;
      margin: 0 auto;
      padding: 60px 20px;
   }
}

/**
 * ---------------------------------------
 * ［index.html］ホームページ - モジュール
 */
/* スライドショー */
#graphic {
   height: auto;
   padding: 0;
}
#graphic ul li img {
   max-width: 100%;
   height: auto;
   vertical-align: bottom;
}
#graphic ul {
	position: relative;
	list-style: none;
	padding-left: 0;
   margin: 0;
}
#graphic ul li {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
#graphic ul li.now {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 1;
}
/* ロゴ画像 */
.logo-cat {
   text-align: center;
}
/* ギルド情報のテーブル */
.guild-info {
   border-collapse: separate;
   border-spacing: 0 7px;
   width: 100%;
}
.guild-info th, .guild-info td {
   text-align: center;
   padding: 10px 0;
   line-height: 1.5;
}
.guild-info th {
   border-radius: 5px 0 0 5px;
   background-color: #c79852;
   color: #fff;
   border: solid 1px #c79852;
}
.guild-info td {
   border-radius: 0 5px 5px 0;
   background-color: #fff;
   border: solid 1px #c79852;
}
/* アルバム画像 */
.center {
   margin: 60px auto;
   max-width: 90%;
   width: 500px;
}
.center ul {
   display: flex;
   margin: 5px 0 0 0;
   padding: 0;
   list-style-type: none;
}
.center li {
   flex: 1 1 auto;
   margin-right: 8px;
}
.center li:last-of-type {
   margin-right: 0;
}
/* アルバム画像左右移動ボタン */
.nav2 {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   margin: 10px 0 0 0;
}
#prev {
   text-align: center;
   margin-right: 0.5rem;
   width: 50px;
   height: 50px;
}
#next {
   text-align: center;
   margin-left: 0.5rem;
   width: 50px;
   height: 50px;
}
/* テーブル形のリスト */
.news-container h2 {
   margin: 0 0 30px 0;
   border-bottom: none;
   padding: 0;
   color: #000;
   font-size: 1.3rem;
}
@media (min-width: 768px) {
   .news-container h2 {
      max-width: 700px;
      margin: 0 auto 30px auto;
   }
}
.home-news {
   padding: 10px 20px 15px 20px;
   background: #fff;
   border: 5px solid #f9dfd4;
   border-radius: 20px;
}
@media (min-width: 768px) {
   .home-news {
      max-width: 700px;
      margin: 0 auto;
      padding: 30px 40px;
   }
}
.home-news dl {
   display: flex;
   margin: 0;
   padding: 15px 0;
   border-top: 1px solid #f9dfd4;
}
.home-news dl:last-child {
   border-bottom: 1px solid #f9dfd4;
}
.home-news dt {
   margin: 0 30px 0 0;
   font-size: 0.875rem;
   line-height: 1.5;
}
.home-news dd {
   margin: 10px;
   font-size: 1rem;
   line-height: 1.5;
}

/**
 * ***************************************
 * ［master.html］マスター挨拶 - メインコンテナ
 * ***************************************
 */
/* マスター挨拶 - メインコンテナ */
.master .main-container {
   padding: 20px 4% 0 4%;
}
@media (min-width: 768px) {
   .master .main-container {
      max-width: 960px;
      margin: 0 auto;
      padding: 30px 20px 0 20px;
   }
}

/**
 * ---------------------------------------
 * ［master.html］マスター挨拶 - モジュール
 */
.master-image {
   text-align: center;
}
.master-comment {
   background-color: #fff;
   background-image:
   linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, #fff 0%, #fff 100%), linear-gradient(180deg, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 97.5%, #646464 100%);
   background-size: 8px 100%,100% 2rem;
   line-height: 2rem;
   border: 1px solid #e6e6e6;
   padding: 2rem 1rem 1.98rem 1rem;
   color: #696969;
   margin: 2rem 0;
   box-shadow: 2px 2px 0 rgba(0,0,0,.1);
   font-family: 'Zen Kurenaido', sans-serif;
   font-weight: bold;
}
.master-comment p {
   margin: 2rem 0;
}
.emoticon {
   font-family: 'Noto Sans JP', sans-serif;
}
.master-comment p:first-of-type {
   margin: 0;
}
.master-comment p:last-of-type {
   margin: 0;
}
.master-name {
   text-align: right;
}

/**
 * ***************************************
 * ［member.html］メンバー - メインコンテナ
 * ***************************************
 */
/* メンバー - メインコンテナ */
.member-top .main-container {
   padding: 20px 4% 0 4%;
}
@media (min-width: 768px) {
   .member-top .main-container {
      max-width: 1040px;
      margin: 0 auto;
      padding: 30px 20px 0 20px;
   }
}

/**
 * ---------------------------------------
 * ［member.html］メンバー - モジュール
 */
.member-image {
   text-align: center;
}
select {
   border: 1px solid #d8d8d8;
   padding: 4px 2rem 4px 4px;
   border-radius: 4px;
   font-size: 16px
}
/* カード型レイアウト */
.members {
   margin: 0 0 60px 0;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-auto-rows: minmax(100px, auto);
   column-gap: 10px;
   row-gap: 30px;
}
@media (min-width: 768px) {
   .members {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px;
   }
}
.member {
	background-color: #fff; /* 背景色 */
	border: 1px solid #ccc;
	box-shadow: 1px 1px 6px 0px #ccc;
	-moz-box-shadow: 1px 1px 6px 0px #ccc;
	-webkit-box-shadow: 1px 1px 6px 0px #ccc;
	-o-box-shadow: 1px 1px 6px 0px #ccc;
	margin: 20px 0 0 0; /* 外側の余白 */
	padding: 30px 0 0 0; /* 内側の余白 */
	position: relative;
	z-index: 0;
}
.member::after {
	background-color: #d9ccb3; /* マステ部分の色 */
	background-position: 0 0, 12px 12px;
	background-size: 24px 24px;
	border-left: 2px dotted rgba(255,255,255,0.9);
	border-right: 2px dotted rgba(255,255,255,0.9);
	box-shadow: 0 0 5px rgba(255,255,255,0.5);
	content: "";
	display: block;
	margin: 0 0 10px 0;
	padding: 12px 32px;
	text-align: center;
	position: absolute;
	top: -12px;
	left: 20px;
	transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
}
@media (min-width: 768px) {
   .member::after {
      top: -15px;
      padding: 15px 35px;
   }
}
.member-text {
   margin-bottom: 10px;
   padding: 0 10px;
}
.member-text p {
   margin: 10px 0 10px 0;
   text-align: center;
   color: #6d3c29;
}
.member-text q {
   quotes: "《""》";
}
.member-text q::before {
   content: open-quote;
   color: #07539f;
}
.member-text q::after {
   content: close-quote;
   color: #07539f;
}
/* タブボックス */
.tab-menu {
   list-style: none;
   margin: 0;
   padding: 0;
}
.tab-menu > li {
   margin: 0 4px 0 0;
   display: inline-block;
}
.tab-menu > li > a {
   text-decoration: none;
   display: block;
   padding: 0.25rem 10px;
   background: #dce1e4;
   border-radius: 10px 10px 0 0;
   font-size: .75rem;
   color: #333;
   cursor: pointer;
}
.tab-menu > li.selected > a {
   background:#07539f;
   color:#fff;
}
.tab-contents {
   border: 1px solid #07539f;
}
.tab-contents .hidden {
   display: none;
}
.cooking-list {
   color: #1e366a;
   padding: 0.5rem 0.25rem 0.5rem 1.75rem;
   font-size: .85rem;
   margin: 0;
}
.cooking-list li {
   line-height: 1.25;
   padding: 0.5rem 0;
}

/**
 * ***************************************
 * ［contact.html］お問い合わせ - メインコンテナ
 * ***************************************
 */
/* お問い合わせ - メインコンテナ */
.contact .main-container {
   padding: 20px 4% 0 4%;
}
@media (min-width: 768px) {
   .contact .main-container {
      max-width: 960px;
      margin: 0 auto;
      padding: 30px 20px 0 20px;
   }
}

/**
 * ---------------------------------------
 * ［contact.html］お問い合わせ - モジュール
 */
/* お問い合わせのリスト */
.contact-list ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
.contact-list li {
   display: grid;
   grid-template-columns: 100px 1fr;
   column-gap: 25px;
   align-items: center;
   margin-bottom: 1rem;
   border-bottom: 1px solid #d8d8d8;
   padding-bottom: 1rem;
}
.contact-list img {
   border-radius: 50%;
}
.contact-list p {
   margin: 0;
   font-size: 1rem;
   line-height: 1.5;
}
.contact-list li a {
   color: #1d9bf0;
   text-decoration: none;
}
@media (min-width: 768px) {
   .contact-list li a:hover {
      text-decoration: underline;
   }
}
/* チャット */
.chat {
   margin: 30px 0;
 }
.chat-1st, .chat-2nd {
   display: flex;
   margin: 15px 0;
}
.chat-2nd {
   flex-direction: row-reverse;
}
.chat-1st .face {
   flex: 0 0 70px;
   margin: 0 15px 0 0;
}
.chat-2nd .face {
   flex: 0 0 70px;
   margin: 0 0 0 15px;
}
.face img {
   border-radius: 50%;
}
.talk {  
   position: relative;
   padding: 1.5rem;
   border-radius: 20px;
   flex: 1 1 auto;
}
.chat-1st .talk {
   background: #bfe5ef;
}
.chat-1st .talk::after {
   content: "";
   position: absolute;
   top: 3px;
   left: -19px;
   border: 8px solid transparent;
   border-right: 18px solid #bfe5ef;
   -webkit-transform: rotate(35deg);
   transform: rotate(35deg);
}
.chat-2nd .talk {
   background: #f9dfd4;
}
.chat-2nd .talk::after {
   content: "";
   position: absolute;
   top: 3px;
   right: -19px;
   border: 8px solid transparent;
   border-left: 18px solid #f9dfd4;
   -webkit-transform: rotate(-35deg);
   transform: rotate(-35deg);
 }
.talk p {
   margin: 0;
   line-height: 1.9;
}
.talk a {
   text-decoration: none;
}
@media (min-width: 768px) {
   .talk a:hover {
      text-decoration: underline;
   }
}

/**
 * ***************************************
 * ［rule.html］ギルドルール - メインコンテナ
 * ***************************************
 */
/* ギルドルール - メインコンテナ */
.guild-rule .main-container {
   padding: 20px 4% 0 4%;
}
@media (min-width: 768px) {
   .guild-rule .main-container {
      max-width: 960px;
      margin: 0 auto;
      padding: 30px 20px 0 20px;
   }
}

/**
 * ---------------------------------------
 * ［rule.html］ギルドルール - モジュール
 */
/* ウッドボード風の囲み枠 */
.rule-image {
   text-align: center;
}
.rule {
   position: relative;
   margin: 2em auto;
   padding: 2em 1em 1em;
   width: 90%;
   background: #fffff9; /* ボックス背景色 */
   border: 5px solid #f7cc88; /* 枠の色 */
   border-radius: 3px;
   box-shadow: 0 0 8px #333, 0 0 2px #555 inset; /* 影の色 */
}
.rule::before,
.rule::after {
   position: absolute;
   content: '';
   width: 25px; 
   bottom: 3px;
   border-radius: 2px;
   box-shadow: 1px 1px 3px #666; /* 影の色 */
}
.rule::before {
   right: 55px;
   border: solid 3px #8c8c8c; /*飾ペン黒 */
}
.rule::after {
   right: 20px;
   border: solid 3px #ffa3ce; /*飾ペンピンク */
   transform: rotate(8deg); /*飾ペン角度 */
}
.rule-title {
   text-align: center;
   font-family: 'Zen Kurenaido', sans-serif;
}
.rule-title h3 {
   padding: 0.2rem 0.5rem;
   background-color: #FFF9C4;
   border-left: 2px dotted rgba(0, 0, 0, 0.1);/*左のギザギザ*/
   border-right: 2px dotted rgba(0, 0, 0, 0.1);/*右のギザギザ*/
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
   margin: 10px 0;
   padding: 10px 0;
   line-height: 1.25;
   font-size: 1.15rem;
   color: #6d3c29;
}
@media (min-width: 768px) {
   .rule-title h3 {
      font-size: 1.25rem;
   }
}
.rule p {
   margin: 30px 0;
   line-height: 1.9;
}
.rule mark {
   background: linear-gradient(transparent 60%, #f9dfd4 60%);
}